<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

    <div style="width:400px;margin:0 auto;margin-top:300px;">
        <h2>登陆</h2>
        <form action="#" method="post">
            <input type="text" placeholder="用户名" name="username">
            <br>
            <input type="password" placeholder="密码" name="pwd" style="margin-top:10px">
            <br>
            <input type="submit" style="margin-top:10px">
        </form>
        
    </div>
</body>
</html>